body{
    font-family: 'Roboto', sans-serif; 
}

.nav-back{
    background: rgba(17, 219, 207, 0.8);
}

.navbar-brand{
    color: #000;
    font-weight: bold;
}

.navbar-brand:hover{
    color: #fff;
}

.nav-link{
    color: #000;
    font-weight: bold;
}

.nav-link:hover{
    color: #fff;
}

.navbar-toggler{
    outline: none;
}

#hero{
    width: 100%;
    height: 80vh;
    background: url("./images/pexels-karolina-grabowska-4021775.jpg");
    background-size: cover;
}

#hero .container{
    padding-top: 80px;
}

#hero:before{
    content: "";
    background: rgba(0,0,0,0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 80vh;
}

#hero h1{
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: bold;
    line-height: 56px;
    color: #fff;
}

#hero h2{
    color: #fff;
    margin-bottom: 40px;
    font-size: 15px;
    font-weight: light;
    letter-spacing: 0.5px;
}

.main-btn{
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

.main-btn:hover{
    background: #11dbcf;
    border: 2px solid #11dbcf;
    color: #fff;
    text-decoration: none;
}

/* Services */
.services{
    background: rgb(223, 220, 220);
}

.service{
    text-align: center;
    padding: 70px 20px 80px 20px;
    background: rgba(17,219,207,0.8);

}

.service .icon{
    margin: 0 auto;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #fff;
    border-radius: 50px;
}

.service .icon i{
    font-size: 32px;
    line-height: 1;
    position: relative;
    color: #47aeff;
}

.service h4{
    margin: 10px 0 15px 0;
    font-weight: bold;
    font-size: 22px;
}

.service p{
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

/* about section */
.about-section{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.about-heading{
    text-transform: uppercase;
}

.about-heading-upper{
    display: block;
    font-size: 1rem;
    font-weight: bold;
}

.about-heading-lower{
    display: block;
    font-size: 38px;
    font-weight: light;
}

.bg-faded{
    background: rgba(17, 219, 207, 0.8);
}

.about-button .btn-color{
    background: #03a59a;
    color: #fff;
    font-weight: bold;
}

.about{
    position: relative;
}



@media screen and (min-width:992px){
    .about .about-image{
        width: 75%;
        float: right;
    }

    .about .about-text{
        left: 0;
        width: 60%;
        margin-top: 3rem;
        position: absolute;

    }

    .about .about-text .about-button{
        width: 100%;
        left: 0;
        position: absolute;
        bottom: -2rem;
    }
}








/* end about section */